.carousel-item img {
    width: 100%;  /* Make the image fill the container */
    height: 500px; /* Set a fixed height */
    object-fit: cover; /* This will cover the area without distorting the aspect ratio */
}
@media (max-width: 576px) {
  .headline sup {
      position: relative; /* Make position relative to allow for top and left adjustments */
      top: 0; /* Adjust if needed */
      left: 0; /* Adjust if needed */
      font-size: 75%; /* Adjust size to make it fit better */
      line-height: 1; /* This ensures the line height is normal for the superscript text */
      vertical-align: baseline; /* Aligns the text to the baseline */
      margin-left: 0.2em; /* Adds space to the left of 'higher.' */
      margin-right: 0.2em; /* Adds space to the right of 'higher.' if needed */
  }
  .headline {
      padding: 1rem; /* Add padding to the headline container */
  }
}

.banner {
    background-color: #F7E214; /* Adjust the color to match the exact yellow of your brand */
    padding: 40px; /* Adjust the padding as needed */
    color: #818387; /* Adjust the text color as needed */
    text-align: center; /* Centers the text */
  }

  .banner .headline {
    font-size: 3rem; /* Adjust the size as needed */
    font-weight: bold; /* Makes the headline bold */
    margin: 0 0 20px; /* Adds spacing between the headline and the subtext */
    text-transform: uppercase; /* Capitalizes all letters */
  }

  .banner .subtext {
    font-size: 1.5rem; /* Adjust the size as needed */
    margin: 0; /* Adjusts the margin as needed */
  }

  .about {
    color: #F7E214;
  }

  .about-text{
    font-size: 1.5rem;
  }

  .video {
    margin: 3%;
  }

  h2 {
    font-size: 3rem;
  }