body{
    background-color:#F7E214;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%2300334C' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.custom-card {
    border: 2px solid white;
    padding: 10px;
    background-color: #194376;
    border-radius: 10px;
    text-align: center;
    margin-left: 25%;
    max-width: 50%;
}

.custom-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 1em;
}

.btn-primary {
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color 0.3s;
}