@font-face {
    font-family: 'DIN1451';
    src:    url('../fonts/DINEngschriftStd.otf') format('opentype'),
            url('../fonts/DINMittelschriftStd.otf') format('opentype');

    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #00334C;
    font-family: DIN1451, sans-serif;
}

@media (min-width: 768px) {
    .index-nav {
        background-image: url('../img/kc.png');
        background-size: cover;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Prevent the image from repeating */
        height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end; /* Position the navbar at the bottom */
    }
}


.navbar {
    margin-bottom: -20px;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .nav-link.active {
    color: #F7E214 !important; /* Change the background color on hover, focus, and active */
}

.container-fluid {
    display: flex;
    padding: 0;
    width: 100vw;
}

.card {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    font-weight: bold;
    color: white;
    cursor: pointer;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none; /* Remove underline from links */
}

.card .letter {
    font-size: 35vh;
    z-index: 2;
    filter: drop-shadow(3px 3px 3px #000);
}

@media (max-width: 1200px) {
    .card .letter {
        font-size: 35vw; /* Slightly larger for medium screens */
    }
}

@media (max-width: 992px) {
    .card .letter {
        font-size: 30vw; /* Slightly larger for smaller screens */
    }
}

@media (max-width: 768px) {
    .card .letter {
        font-size: 25vw; /* Larger for tablet screens */
    }
}

@media (max-width: 576px) {
    .card .letter {
        font-size: 20vw; /* Largest for mobile screens */
    }
}

.card .phrase {
    display: none;
    font-size: 1.5em;
    margin-top: 20px;
    z-index: 2;
    color: #fff;
    text-align: center;
    filter: drop-shadow(3px 3px 3px #000);
}

#card1 {
    background-color: #56B2CB; /* Light Blue */
}

#card2 {
    background-color: #818387; /* Gray */
}

#card3 {
    background-color: #00334C; /* Dark Blue */
}

#card4 {
    background-color: #F7E214; /* Yellow */
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: no-repeat center center/cover;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover {
    flex: 3;
    font-size: 2em;
}

.card:hover::before {
    opacity: 0.7; /* Adjust opacity to make the image partially transparent */
}

.card:hover .letter {
    display: none;
}

.card:hover .phrase {
    display: block;
}

.container-fluid .card:not(:hover) {
    flex: 1;
    font-size: 4em;
}

#card1::before {
    background-image: url('../img/background1.jpg');
}

#card2::before {
    background-image: url('../img/four.jpg');
}

#card3::before {
    background-image: url('../img/two.jpeg');
}

#card4::before {
    background-image: url('../img/three.jpg');
}

/* KC Box styles */
.kc-box {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 8em;
    font-weight: bold;
    filter: drop-shadow(3px 3px 3px #000);
    margin-bottom: -40px;
}