 .continuum-card {
    background-color: #56B2CB;
    min-height: 25vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

          
.circle-image {
    width: 100%;
    height: 60%;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
    border: 4px solid #fff; /* Optional: Add border to make the circle more prominent */
}

.circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrow-bar {
    position: relative;
    background-color: #194376;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 20px;
}
        
.arrow-bar::before,
.arrow-bar::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-style: solid;
}

.arrow-bar::before {
    left: -40px;
    border-width: 20px 40px 20px 0;
    border-color: transparent #194376 transparent transparent;
}

.arrow-bar::after {
    right: -40px;
    border-width: 20px 0 20px 40px;
    border-color: transparent transparent transparent #194376;
}
.custom-title {
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 20px;
}
      
.custom-subtitle {
    color: #fff;
    font-style: italic;
    margin-bottom: 20px;
}

.custom-list-items {
    font-size: 1.1rem;
    padding-left: 20px;
    background-color: #56B2CB;
    padding: 20px;
    border-radius: 5px;
}

.custom-list-items li {
    margin-bottom: 10px;
    list-style-type: disc;
    color: #FFD700; /* Gold color for list items */
}

.custom-image {
    border: 5px solid #fff;
    border-radius: 5px;
}

.custom-list {
    background-color: #56B2CB;
    padding: 20px;
    border-radius: 5px;
    color: #194376; /* Dark text color for better contrast */
}

.custom-list h2,
.custom-list p {
    color: #fff;
}

.custom-list h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.custom-list p {
    font-size: 1rem;
    margin-bottom: 20px;
}
.event-title {
color: #fff;
font-weight: bold;
font-size: 1.5rem;
margin-top: 20px;
}

.event-date {
    color: #fff;
    font-size: 1rem;
    margin-bottom: 20px;
}

.event-image {
    border: 5px solid #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for a better effect */
}
.card-title{
    font-size: 1.5em;
    font-weight: bold;
}
.card-text{
    font-size:1.2em;
}
.custom-card {
    border: 2px solid white;
    padding: 10px;
    background-color: #194376;
    border-radius: 10px;
    text-align: center;
}

.custom-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .continuum-card {
        position: relative;
        padding: 0;
        background-size: cover;
        background-position: center;
        color: white;
        overflow: hidden;
    }

    .elementary-card {
        background-image: url('../img/elementary-career-explore.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .middle-card {
        background-image: url('../img/middle-career-exploration.jpg');
        background-size: 50%;
        background-position: top;
        background-repeat: no-repeat;
    }

    .highschool-prep-card {
        background-image: url('../img/highschool-prep.jpg');
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
    }

    .highschool-immersion-card {
        background-image: url('../img/highschool-immersion.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .continuum-card .circle-image {
        display: none;
    }

    .continuum-card .card-body {
        position: relative;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 20px;
    }

    .continuum-card .card-title, 
    .continuum-card .card-subtitle, 
    .continuum-card .card-text {
        color: #fff;
        margin-bottom: 5px;
    }
}
