body{
    background-color: #00334C;
    color: #F7E214;
}

hr {
    border-top: 2px solid #56B2CB;
}
.text-black{
    color: black !important;
}
.bg-turquoise{
    background-color: #56B2CB !important;
}
.text-turquoise{
    color: #56B2CB !important;
}
.bg-navy{
    background-color: #00334C !important;
}
.bg-yellow{
    background-color: #F7E214 !important;
}
.bg-gray{
    background-color: #818387 !important;
}
.navbar-brand, .nav-link {
    color: #56B2CB; /* White text */
}
.navbar-brand img {
    max-height: 120px; /* Adjust based on your preference */
    width: auto; /* This will ensure the logo maintains its aspect ratio */
}
.navbar-nav .nav-link {
    font-size: 2rem; /* Adjust the value based on your preference */
}

.navbar-toggler {
    background-color: #f7e214; /* Background color of the box */
    border: 1px solid #0056b3; /* Optional: border color */
    padding: .25rem .75rem; /* Adjust padding to your liking */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 51, 76, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.social-icon {
    font-size: 24px; /* Or any other size */
    color: #F7E214; /* Social icon color */
    margin: 0 10px; /* Spacing between icons */
}

.social-icon:hover {
    color: #56B2CB; /* Color on hover */
}
.footer {
    color:white;
    margin-top: 20px;
}
.gradient-text {
    background: linear-gradient(to right, #f9d423 0%, #ff4e50 100%); /* Gradient from bright yellow to dark yellow */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent; /* Fallback for browsers that do not support this effect */
}