@font-face {
    font-family: 'Georgia';
    src:    url('../fonts/georgia.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src:    url('../fonts/AvenirMedium.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN1451';
    src:    url('../fonts/DINEngschriftStd.otf') format('opentype'),
            url('../fonts/DINMittelschriftStd.otf') format('opentype');

    font-weight: normal;
    font-style: normal;
}
.title-format{
    font-family: 'DIN1451', sans-serif;
    text-transform:uppercase;
}

body{
    background-color: #00334C;
    color: #F7E214;
    font-family: 'Georgia', sans-serif;
}

.btn-primary {
    background-color: #56B2CB; /* Replace with your desired color */
    border-color: #56B2CB; /* Replace with your desired color */
}

hr {
    border-top: 2px solid #56B2CB;
}
.text-black{
    color: black !important;
}
.text-turquoise{
    color: #56B2CB !important;
}
.text-navy{
    color: #00334C !important;
}
.text-yellow{
    color: #F7E214 !important;
}
.text-gray{
    color: #818387 !important;
}
.bg-turquoise{
    background-color: #56B2CB !important;
}
.text-turquoise{
    color: #56B2CB !important;
}
.bg-navy{
    background-color: #00334C !important;
}
.bg-yellow{
    background-color: #F7E214 !important;
}
.bg-gray{
    background-color: #818387 !important;
}

.navbar{
    font-family: DIN1451, sans-serif !important;
}
.navbar-brand, .nav-link {
    color: #56B2CB; /* text color */
}
.navbar-brand img {
    max-height: 90px; /* Adjust based on your preference */
    width: auto; /* This will ensure the logo maintains its aspect ratio */
}
.navbar-nav .nav-link {
    font-size: 3rem; /* Adjust the value based on your preference */
}
.social-icon {
    font-size: 24px; /* Or any other size */
    color: #F7E214; /* Social icon color */
    margin: 0 10px; /* Spacing between icons */
}

.social-icon:hover {
    color: #56B2CB; /* Color on hover */
}
.footer {
    color:white;
    margin-top: 20px;
}
.gradient-text {
    background: linear-gradient(to right, #f9d423 0%, #ff4e50 100%); /* Gradient from bright yellow to dark yellow */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent; /* Fallback for browsers that do not support this effect */
}