@font-face {
    font-family: 'Georgia';
    src:    url('../fonts/georgia.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src:    url('../fonts/AvenirMedium.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN1451';
    src:    url('../fonts/DINEngschriftStd.otf') format('opentype'),
            url('../fonts/DINMittelschriftStd.otf') format('opentype');

    font-weight: normal;
    font-style: normal;
}
.title-format{
    font-family: 'DIN1451', sans-serif;
    text-transform:uppercase;
}

body{
    background-color: #00334C;
    color: #F7E214;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Avenir', sans-serif;
}

p{
    font-family: 'Georgia', sans-serif;
}

.btn-primary {
    background-color: #56B2CB;
    border-color: #56B2CB;
}

.btn-primary:hover {
    background-color: #00334C;
}      

hr {
    border-top: 2px solid #56B2CB;
}
.text-black{
    color: black !important;
}
.text-turquoise{
    color: #56B2CB !important;
}
.text-navy{
    color: #00334C !important;
}
.text-yellow{
    color: #F7E214 !important;
}
.text-gray{
    color: #818387 !important;
}
.bg-turquoise{
    background-color: #56B2CB !important;
}
.text-turquoise{
    color: #56B2CB !important;
}
.bg-navy{
    background-color: #00334C !important;
}
.bg-yellow{
    background-color: #F7E214 !important;
}
.bg-gray{
    background-color: #818387 !important;
}

.navbar{
    font-family: DIN1451, sans-serif !important;
    background-color: transparent !important; /* Make the navbar background transparent */
}
.navbar-brand, .nav-link {
    color: #56B2CB;
}
.navbar-brand img {
    max-height: 90px; 
    width: auto; 
}
.navbar-nav .nav-link {
    font-size: 3rem;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23ffc107' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.social-icon {
    font-size: 24px; 
    color: #F7E214; 
    margin: 0 10px; 
}

.social-icon:hover {
    color: #56B2CB; 
}
.footer {
    color:white;
    margin-top: 20px;
}
.gradient-text {
    background: linear-gradient(to right, #f9d423 0%, #ff4e50 100%); /* Gradient from bright yellow to dark yellow */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent; /* Fallback for browsers that do not support this effect */
}